<launch>
    <arg name="image_topic" default="image_raw"/>
    <arg name="camera_ns" default="camera"/>

    <!-- <node pkg="tf" type="static_transform_publisher" name="fid1" args="0 0 0 0 0 0 1 map fid1 100"/> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="fid2" args="0.225 0 0 0 0 0 1 fid1 fid2 100"/> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="fid3" args="0.225 0 0 0 0 0 1 fid2 fid3 100"/> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="map" args="0 0 0 0 0 0 1 odom base_link 100"/> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="base_link" args="0 0 0 0 0 0 1 base_link camera 100" /> -->

    <!-- <node pkg = "ssr_fiducial_odom" name = "fiducial_odom" type = "fiducial_odom.py" output = "screen"/> -->

    <!-- <include file="$find(ssr_fiducial_odom)/launch/camera.launch" /> -->

    <include file="$(find aruco_detect)/launch/aruco_detect.launch">
      <arg name="camera" value="$(arg camera_ns)" />
      <arg name="image" value="$(arg image_topic)"/>
    </include>

    <include file="$(find fiducial_slam)/launch/fiducial_slam.launch" >
      <arg name="base_frame" value="camera_link" />
      <arg name="odom_frame" value="odom" />
      <arg name="publish_6dof_pose" value="true" />
    </include>
</launch>
